@charset "utf-8";
/*Special Styles for About Us Page*/

p{
    font-family: Baskerville, serif;
    font-size: 1em;
    text-align: justify;
    margin-left: 0;
    margin-right: 0;
}

aside{
    text-align: center;
    float: left;
}

aside#aboutus{
    margin-left: 20%;
}

 section{
     background-color: beige;
     padding: 10px;
     margin-bottom: 7%;
     max-width: 60%;
     font-family: Baskerville, sans-serif;
     font-style: normal;
     margin-left: 45px;
     margin-right: 10px;
     text-align: center;
     color: grey;
     font-size: large;
 }
